<title>Nameboards</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">

<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/controls.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
