body {
  /* Change to white when done */
  background-color: white;
}

.wrapper {

  margin: 0;
  width: 100%;
  padding: 0px;

  box-shadow: none;
  border-radius: 0;
}

.header{

  font-size: 90px; /* fallback */
  font-size: 9vmin;

}

.full_screen_button_wrapper{
  left: 10px;
  top: 10px;
}

table {
  box-shadow: none;
  border-radius: 0;

  font-size: 90px; /* fallback */
  font-size: 9vmin;
}

.controls {
  display: none;
}

.board {
  display: block;
}

.desktop {
  display: none;
}


.footer {
  display: none;
}
