body {
  /* Change to white when done */
  background-color: white;
}

.wrapper {

  margin: 0;
  width: 100%;
  padding: 0px;

  box-shadow: none;
  border-radius: 0;
}


.header input[type="image"]{
  margin: 20px;
  width: 50px;
  height: 50px;
}

.header .title_wrapper {
  font-size: 90px; /* fallback */
  font-size: 9vmin;
}


table {
  box-shadow: none;
  border-radius: 0;

  font-size: 90px; /* fallback */
  font-size: 9vmin;
}

.controls {
  display: none;
}

.board {
  display: block;
}

.desktop {
  display: none;
}

.footer {
  display: none;
}
