:root {
    --border_radius: 10px;
}

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #cccccc;

  font-family: Calibri;

  /* Centering on old IE */
  text-align: center;
}

.wrapper {

  /* Positioning and sizing */
  width: 70%;
  margin: 25px auto;

  /* Content positioning and sizing */
  padding: 25px;
  text-align: center;

  /* Misc visuals */
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: var(--border_radius);
}


.header{
  /* set position relative for inner divs absolute */
  position: relative;

  /* Fixing position absolute not respected by IE5 */
  text-align: left;
}

.top_left_controls_cluster, .top_right_controls_cluster{
  /* Weird stuff because of IE */
  text-align: left;
  position: absolute;
  top: 0;
}

.top_left_controls_cluster{
  /* Positioining the cluster */
  left: 0;
}

.top_right_controls_cluster{
  /* Positioining the cluster */
  right: 0;
}

.bottom_controls_cluster{
  margin-top: 25px;
}


.board_button{
  /* Hiding items visible only in board mode */
  display: none;
}

.desktop_button{
  /* Showing items visible in desktop mode */
  display: inline-block;
}

.header .title_wrapper {

  /* have to make it full width and center not to conflict
  with previous text-align */
  width: 100%;
  text-align: center;

  font-size: 50px;
}


/* Related to main */
.main {
  /* Positioning and sizing */
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 25px;
}

/* Related to the table */
table {
  width: 100%;

  /* Centering table */
  margin-left:auto;
  margin-right:auto;

  text-align: center;
  font-size: 30px;

  table-layout: fixed;

  border-collapse: separate;
  border-spacing: 5px;
  border-radius: var(--border_radius);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.arrival_header {
  width: 20%;
}

.member_name_header {
  width: 30%;
}

th, td {
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;


  /* Misc visuals */
  color: black;
  background-color: white;
  border-radius: var(--border_radius);
  border: 1px solid #cccccc;
}

td {
  cursor: pointer;

}

.member_name_cell {
  /* The animation for the cell becoming red */
  transition: background-color 200ms linear, color 200ms linear;
}

.location_cell {
  font-size: 25px;
}

.absent {
  /* When the member is absent, set red background */
  background-color: #ce0000;
  color: white;
}

/* MIGHT PUT THIS SOMEWHERE ELSE */
input[type="text"], input[type="time"], input[type="search"], select {
  font-size: 20px;
  padding: 10px;
}
