body{

  text-align: center;
  font-family: Calibri;

  background-color: #cccccc;

  margin: 0;

}

.wrapper {

  background-color: white;

  margin: 25px auto;
  width: 70%;
  padding: 25px;

  text-align: center;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius:10px;


}

.header{

  position: relative;;

  width: 100%;
  /* Centering */
  margin-left:auto;
  margin-right:auto;

  font-size: 40px; /* fallback */
  font-size: 5vmin;

}

.full_screen_button_wrapper{

  position: absolute;
  left: 0;
  top: 0;
}

.full_screen_button{
  width: 50px;
  height: 50px;
}

.main {
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 25px;
}

table {
  width: 100%;

  /* Centering table */
  margin-left:auto;
  margin-right:auto;

  text-align: center;

  border-collapse: separate;
  border-spacing: 5px;

  font-size: 30px; /* fallback */
  font-size: 3vmin;

  border-radius:10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);


}

.arrival_cell, .member_name_cell {
  width: 33%;
}

th, td {
  border-radius:10px;
  border: 1px solid #cccccc;

  padding: 10px;
  background-color: white;
  color: black;
}

td {
  cursor: pointer;
}

.member_name_cell {
  /* The animation for the cell becoming red */
  transition: background-color 200ms linear, color 200ms linear;
}

.absent {
  background-color: #ce0000;
  color: white;
}


.board {
  display: none;
}

.desktop {
  display: block;
}


input[type="text"], input[type="time"], input[type="search"], select {
  font-size: 2vmin;
  padding: 10px;
}
