body{

  text-align: center;
  font-family: Calibri;

  background-color: #cccccc;

  margin: 0;

}

.wrapper {

  background-color: white;

  margin: 25px auto;
  width: 70%;
  padding: 25px;

  text-align: center;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius:10px;


}


/* Header related */
.header{

  /* set position relative for inner divs absolute */
  position: relative;
  text-align: center;

}

.header .left_corner, .header .right_corner{
  position: absolute;
}

.header .left_corner{
  left: 0;
  width: auto;
  height: auto;
}

.header .right_corner{
  right: 0;
}


.header img{

  width: 40px;
  height: 40px;

  /* set distance between buttons */
  margin-right: 10px;

  cursor: pointer;

  padding: 10px;
  border-radius:10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.board{
  display: none;
}

.desktop{
  display: inline-block;
}




.header .title_wrapper {
  font-size: 50px;
}


.main {
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 25px;
}

table {
  width: 100%;

  /* Centering table */
  margin-left:auto;
  margin-right:auto;

  text-align: center;

  border-collapse: separate;
  border-spacing: 5px;

  font-size: 30px;

  border-radius:10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);


}

.arrival_cell, .member_name_cell {
  width: 33%;
}

th, td {
  border-radius:10px;
  border: 1px solid #cccccc;

  padding: 10px;
  background-color: white;
  color: black;
}

td {
  cursor: pointer;
}

.member_name_cell {
  /* The animation for the cell becoming red */
  transition: background-color 200ms linear, color 200ms linear;
}

.absent {
  background-color: #ce0000;
  color: white;
}





input[type="text"], input[type="time"], input[type="search"], select {
  font-size: 20px;
  padding: 10px;
}
