<html>
<head>
  {% include 'partials/head.html' %}

  <!-- Additional CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_members.css') }}">

</head>
<body>

  <div class="wrapper">

    <div class="header">
      <div class="title_wrapper"> {{group_name}} </div>
      <div class="left_corner">
        <img class="desktop" src="{{ url_for('static', filename='images/back.png') }}" onclick="window.location.href='/';">
      </div>

    </div>

    <div class="main">
      <table id="members_table">
        {% for member in members %}
        <tr id="{{member[0]}}" onclick="open_member_edit_modal({{member[0]}}">
          <td onclick="open_member_edit_modal({{member[0]}})">
            {{member[1]}}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="controls">
      <img class="desktop" src="{{ url_for('static', filename='images/add.png') }}" onclick="submit_add_member_form()">
    </div>


    {% include 'partials/footer.html' %}

  </div> <!-- end of wrapper -->

  <!-- Form to add a member, submitted using JS -->
  <form id="add_member_form" action="add_member" method="post" style="display:none;">

  </form>

  <!-- Form to delete one member -->
  <form id="delete_member_form" action="delete_member" method="post" style="display:none;">
    <input type="hidden" name="id" id="delete_member_id_input" >
  </form>

  <!-- Modal to edit a member -->
  <div id="member_edit_modal" class="modal">
    <div class="modal_content">
      <div class="modal_header">
        Edit member
      </div>
      <div class="modal_main">
        <form action="edit_member" method="post">
          <input type="search" name="member_name" id="member_name_input">
          <input type="hidden" name="id" id="member_id_input" >
          <br><br>
          <input type="submit" value="Rename">
          <input type="button" onclick="close_member_edit_modal()" value="Cancel">
          <input type="button" onclick="submit_delete_member_form()" value="Delete">
        </form>
      </div>
    </div>
  </div>



  <!-- JS -->
  <script src="{{ url_for('static', filename='js/edit_members.js') }}"></script>

</body>
</html>
