<html>
<head>
  {% include 'partials/head.html' %}

  <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">

  <script src="{{ url_for('static', filename='js/member_edit_modal.js') }}"></script>

</head>
<body>

  <div class="wrapper">

    <div class="header">
      <div class="left_corner">
        <img class="desktop" src="{{ url_for('static', filename='images/back.png') }}"  onclick="window.location.href='/';">
        <img class="desktop" src="{{ url_for('static', filename='images/add.png') }}"  onclick="submit_add_member_form()">
      </div>

      <div class="right_corner">

      </div>

      <div class="title_wrapper">{{group_name}}</div>
    </div>

    <div class="main">
      <table id="members_table">
        {% for member in members %}
        <tr id="{{member[0]}}">
          <td class="member_name_cell" onclick="open_member_edit_modal(this)">{{member[1]}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <!-- Form to add a member, submitted using JS -->
    <form id="add_member_form" action="edit_members" method="post" style="display:none;"></form>

    {% include 'partials/footer.html' %}

  </div> <!-- end of wrapper -->

  <!-- Modal to edit a member -->
  <div id="member_edit_modal" class="modal">
    <div class="modal_content">
      <div class="modal_header">
        Edit member
      </div>
      <div class="modal_main">
        <form action="edit_members" method="post">
          <input type="search" name="member_name" id="member_name_input"><br>
          <input type="hidden" name="id" id="member_id_input" ><br>
          <input type="submit" name="edit_member" value="Apply">
          <input type="submit" name="delete_member" value="Delete">
        </form>
        <input type="button" onclick="close_member_edit_modal()" value="Cancel">
      </div>
    </div>
  </div>

</body>
</html>
