<html>
<head>
  {% include 'partials/head.html' %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/group_selection.css') }}">

  <!-- JS -->
  <script src="{{ url_for('static', filename='js/create_group.js') }}"></script>
</head>
<body>

  <div class="wrapper">

    <div class="header">
      <div class="title_wrapper"> Group management </div>
    </div>

    <div class="main">

      <form action="select_group" method="post">
        <select name="group_name">
          {% for group_name in group_names %}
            <option value="{{group_name[0]}}">{{group_name[0]}}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Select group">
      </form>

      <form action="select_group" method="post">
        <input type="text" name="group_name" placeholder="New group name">
        <input type="submit" value="Create group">
      </form>


      <form action="delete_group" method="post">
        <select name="group_name">
        {% for group_name in group_names %}
          <option value="{{group_name[0]}}">{{group_name[0]}}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Delete group">
      </form>
    </div>

    {% include 'partials/footer.html' %}
  </div>

</body>
</html>
