<html>
<head>
  {% include 'partials/head.html' %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/group_selection.css') }}">

  <!-- JS -->
  <script src="{{ url_for('static', filename='js/group_selection.js') }}"></script>
</head>
<body>

  <div class="wrapper">

    <div class="header">
      <div class="title_wrapper"> Group management </div>
    </div>

    <div class="main">



      <select id="group_select">
        {% for group_name in group_names %}
          <option value="{{group_name[0]}}">{{group_name[0]}}</option>
        {% endfor %}
      </select>

      <div class="controls">
        <!--
        <img src="{{ url_for('static', filename='images/ok.png') }}" onclick="select_group()">
        <img src="{{ url_for('static', filename='images/add.png') }}" onclick="open_create_group_modal()">
        <img src="{{ url_for('static', filename='images/delete.png') }}" onclick="open_delete_group_modal()">
        -->

        <input type="button" value="Select" onclick="select_group()">
        <input type="button" value="Create new" onclick="open_create_group_modal()">
        <input type="button" value="Delete" onclick="open_delete_group_modal()">

      </div>
    </div> <!-- End of main -->

    {% include 'partials/footer.html' %}
  </div>

  <!-- forms sent by JS -->
  <form id="select_group_form" action="select_group" method=post style="display:none;">
    <input id="select_group_name_input" type="hidden" name="group_name">
  </form>

  <form id="delete_group_form" action="delete_group" method=post style="display:none;">
    <input id="delete_group_name_input" type="hidden" name="group_name">
  </form>

  <!-- Create group modal -->
  <div id="create_group_modal" class="modal">
    <div class="modal_content">
      <div class="modal_header"> Create new group </div>
      <div class="modal_main">
        <form id="create_group_form" action="select_group" method="post">
          <input type="text" name="group_name" placeholder="New group name">
        </form>
        <div class="controls">
          <!--
          <img src="{{ url_for('static', filename='images/ok.png') }}" onclick="submit_create_group_form()">
          <img src="{{ url_for('static', filename='images/back.png') }}" onclick="close_modals()">
          -->

          <input type="button" value="OK" onclick="submit_create_group_form()">
          <input type="button" value="Cancel" onclick="close_modals()">
        </div>
      </div>
    </div>
  </div>


  <div id="delete_group_modal" class="modal">
    <div class="modal_content">
      <div class="modal_header"> Confirm delete group? </div>
      <div class="modal_main">
        <div class="controls">
          <!--
          <img src="{{ url_for('static', filename='images/ok.png') }}" onclick="submit_delete_group_form()">
          <img src="{{ url_for('static', filename='images/back.png') }}" onclick="close_modals()">
          -->

          <input type="button" value="OK" onclick="submit_delete_group_form()">
          <input type="button" value="Cancel" onclick="close_modals()">


        </div>
      </div>
    </div>
  </div>

</body>
</html>
