<!DOCTYPE html>
<html>
<head>
  {% include 'partials/head.html' %}

  <!-- Additional CSS -->
  {% if display_style == "board" %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/board.css') }}">
  {% endif %}

</head>
<body>

  <div class="wrapper">

    <div class="header">
      <div class="title_wrapper"> {{group_name}} </div>
      <div class="left_corner">
        <img class="desktop" src="{{ url_for('static', filename='images/back.png') }}"  onclick="window.location.href='select_group'">
        <img class="desktop" src="{{ url_for('static', filename='images/edit.png') }}"  onclick="window.location.href='edit_members'">
        <img class="board" src="{{ url_for('static', filename='images/exit_full_screen.png') }}"  onclick="window.location.href='?'">
        <img class="desktop" src="{{ url_for('static', filename='images/enter_full_screen.png') }}"  onclick="window.location.href='?board'">
      </div>
      <div class="right_corner">

      </div>
    </div>

    <div class="main">
      <table id="members_table">

        <tr>
          <th>出社</th>
          <th>名前</th>
          <th>行先</th>
          <th style="display:none;">Presence</th>
        </tr>

        {% for member in members %}
        <tr id="{{member[0]}}">
          <td class="arrival_cell" onclick="open_arrival_edit_modal(this)">{{member[5]}}</td>
          <td class="member_name_cell {% if member[3]==0 %}absent{% endif %}" onclick="toggle_presence(this)">
            {{member[1]}}
          </td>
          <td class="location_cell" onclick="open_location_edit_modal(this)">{{member[4]}}</td>
          <td class="presence_cell" style="display:none;"> {{member[3]}}</td> <!--presence_cell-->
        </tr>
        {% endfor %}

      </table>
    </div>

    {% include 'partials/footer.html' %}

  </div> <!-- end of wrapper -->

  <!-- Modals -->
  <div id="location_edit_modal" class="modal">
    <div class="modal_content">
      <div class="modal_header"> 行先 </div>
      <div class="modal_main">
        <input type="text" id="location_input" list="location_input_candidates" onkeyup="submit_location_enter()" placeholder="Location">

        <datalist id="location_input_candidates" style="display:none;">
          {% for location in locations %}
          <option value="{{location[0]}}">
          {% endfor %}
        </datalist>

        <input type="hidden" id="location_id_input">
        <br><br>
        <input type="button" onclick="submit_location()" value="OK">
        <input type="button" onclick="close_modals()" value="Cancel">
      </div>
    </div>
  </div>

  <div id="arrival_edit_modal" class="modal">
    <div class="modal_content">
      <div class="modal_header"> 出社 </div>
      <div class="modal_main">
        <input type="time" id="arrival_input" onkeyup="submit_arrival_enter()">
        <input type="hidden" id="arrival_id_input">
        <br><br>
        <input type="button" onclick="submit_arrival()" value="OK">
        <input type="button" onclick="close_modals()" value="Cancel">
      </div>
    </div>
  </div>

  <div id="disconnected_modal" class="modal">
    <div class="modal_content">
      <div class="modal_header">
        Connection lost
      </div>
    </div>
  </div>

  <div id="member_edit_modal" class="modal">
    <div class="modal_content">
      <div class="modal_header"> Edit member </div>
      <div class="modal_main">
        <form action="edit_members" method="post">
          <input type="search" name="member_name" id="member_name_input"><br>
          <input type="hidden" name="id" id="member_id_input" ><br>
          <input type="submit" name="edit_member" value="Apply">
          <input type="submit" name="delete_member" value="Delete">
        </form>
        <input type="button" onclick="close_member_edit_modal()" value="Cancel">
      </div>
    </div>
  </div>

  <!-- JS -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script> <!-- Needed for old IE browsers -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

  <script src="{{ url_for('static', filename='js/handle_websockets.js') }}"></script>
  <script src="{{ url_for('static', filename='js/toggle_presence.js') }}"></script>
  <script src="{{ url_for('static', filename='js/location_modal.js') }}"></script>
  <script src="{{ url_for('static', filename='js/arrival_modal.js') }}"></script>
  <script src="{{ url_for('static', filename='js/modals_common.js') }}"></script>

</body>
</html>
